@font-face {
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Thin.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-ExtraLight.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-medium { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-semibold { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-SemiBold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-bold { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-extrabold { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-ExtraBold.ttf')  format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-black { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
/* .barlow-semi condensed-thin-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-ThinItalic.ttf')  format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-extralight-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-ExtraLightItalic.ttf')  format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-light-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-LightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-regular-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-Italic.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-medium-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-MediumItalic.ttf')  format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-semibold-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf')  format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-bold-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-BoldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-extrabold-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-ExtraBoldItalic.ttf')  format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
/* .barlow-semi condensed-black-italic { */
  font-family: "Barlow Semi Condensed";
  src: url('../fonts/BarlowSemiCondensed-BlackItalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}